@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Open+Sans&display=swap');

body, #root, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: inherit;
}

input {
  border: none;
  -webkit-appearance: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0px;
}

input:focus {
  outline: none;
}

button:disabled {
  cursor: default;
}

button:disabled:hover {
  text-decoration: none;
}

p > button {
  font-size: inherit;
  text-decoration: underline;
  padding: 0px;
}

.reroll {
  font-size: 64px;
}

.App {
  padding: 16px 48px;
  display: grid;
  grid-template-rows: calc(100% - 64px) 64px;
}

.App > * {
  width: 100%;
}

main {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "letter categories"
  "timer categories";
}

main > * {
  border: 3px solid;
}

  #letter {
    grid-area: letter;
    position: relative;
  }

    #letter .display {
      font-family: 'Cousine';
      font-size: 192px;
      margin: 12px;
    }

    #letter .reroll {
      position: absolute;
      right: 12px;
    }

    #letter #exclusions {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      justify-content: flex-end;
      bottom: 12px;
      right: 12px;
      width: calc(100% - 144px);
    }

      #letter #exclusions > * {
        font-size: 24px;
        margin: 4px;
        cursor: pointer;
      }

    .excluded {
      opacity: 60%;
    }

  #timer {
    grid-area: timer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #timer > * {
    width: 50%;
  }

    #timer .display {
      font-size: 92px;
    }

    #timer input {
      font-size: 92px;
      width: 256px;
      text-align: center;
    }

    #timer button {
      width: 50%;
    font-size: 48px;
    }

  #categories {
    grid-area: categories;
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-rows: minmax(1fr, 0) 64px;
    padding: 12px;
    overflow-y: hidden;
  }

    .tabs {
      height: 64px;
      border-bottom: 2px solid;
    }

      .tabs > button {
        margin-right: 16px;
        font-size: 32px;
      }

      .tabs > button:hover {
        text-decoration: underline;
      }

    #list-container {
      display: grid;
      grid-template-columns: 60% 40%;
      max-height: 100%;
      overflow-y: scroll;
    }

      #play-list {
        border-right: 2px solid;
        max-height: 100%;
        overflow-y: scroll;
        margin: 8px;
        display: flex;
        flex-direction: column;
      }

      #play-list .category-container {
        position: relative;
        flex: 1;
        margin: 4px;
      }

        #play-list .category {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          font-size: 24px;
          margin: 0;
        }

        #play-list .category-cover {
          z-index: 2;
          height: 100%;
          transition: width 0.15s linear;
          position: absolute;
          top: 0;
          left: 0;
        }

      #list-controls {
        width: 108px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
      }

        #quantity-display {
          font-size: 48px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 92px;
        }

          #quantity {
            width: 55px;
          }

          #quantity-display .incrementers {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          #quantity-display button {
            font-size: 32px;
          }

    #editing-container {
      margin: 16px;
      height: 90%;
      position: relative;
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 64px 1fr;
      height: 100%;
      overflow-y: hidden;
    }

      #editing-container button {
        font-size: 22px;
      }

      #category-form {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 48px;
        border-bottom: 2px;
      }

        #category-form input {
          width: 80%;
        }

      #full-list {
        margin-top: 16px;
        height: calc(100% - 32px);
        width: 100%;
        overflow-y: scroll;
      }

        #full-list .category-container {
          height: auto;
          width: 90%;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
        }

        #full-list .category-container:hover {
          border-bottom: 1px solid;
        }
      
          #full-list .category-container button {
            font-size: 20px;
            text-align: right;
          }

          #full-list .category-container span {
            margin: 12px 0px;
          }

      #category-buttons {
        display: flex;
        flex-direction: column;
        height: 128px;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 64px;
        padding-top: 64px;
      }

  footer {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    #color-switcher {
      width: 120px;
      height: 48px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    #color-switcher .arrow {
      width: 24px;
      height: 24px;
    }

    #color-switcher #day-night-icon {
      width: 30px;
      height: 30px;
    }
    
      #ghLogo {
        width: 1em;
        height: 1em;
      }
    
      #ghLogo {
        transition: transform 0.6s;
      }
    
      footer span:hover #ghLogo {
        transform: rotate(360deg);
      }

@media (max-width: 768px) {

  .App {
    padding: 8px;
  }

  main {
    grid-template-rows: 260px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "letter timer" "categories categories";
  }

  #letter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "display reroll" "exclusions exclusions";
  }

  #letter .display {
    font-size: 64px;
    grid-area: display;
  }

  #letter .reroll {
    grid-area: reroll;
  }

  #letter #exclusions {
    grid-area: exclusions;
    width: auto;
  }

  #letter #exclusions .letter {
    font-size: 20px;
    margin: 2px;
  }

  #timer .display{
    font-size: 64px;
  }

  #timer > *, #timer button {
    width: auto;
  }

  #timer .incrementers {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }

  footer {
    height: 36px;
  }

  #categories {
    padding: 6px;
    grid-template-rows: 36px auto;
  }

  #categories .tabs {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  #categories .tabs > button {
    font-size: 24px;
  }

  #list-container {
    grid-template-columns: 70% 30%;
  }

  #list-controls {
    width: auto;
    margin: 0;
  }

  #play-list .category, #full-list .category-container span {
    font-size: 14px;
  }

  #editing-container { 
    grid-template-columns: 80% 20%;
  }

  #category-buttons {
    padding: 48px 0px;
  }

  #full-list .category-container span {
    margin: 4px 0px;
  }
}