body, #root, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 16px 48px;
  display: grid;
  grid-template-rows: auto 64px;
}

.App > * {
  width: 100%;
}

main > * {
  border: 5px solid black;
}

main {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "letter categories"
  "timer categories";
}

#letter {
  grid-area: letter;
}

#timer {
  grid-area: timer;
}

#categories {
  grid-area: categories;
}

.excluded {
  color: red
}